* {
    box-sizing: border-box;
}

body {
   background-image: url(img/hatter.jpg);
   background-size: cover;
}
h2 {
    margin: 0
}
.furklak {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;    
    max-width: 600px;
    width: 90%;
    margin: 40px auto;
}

h2 {
    color: rgb(34, 185, 34);
}

.header-image {
    background-image: url(img/image1.jpg);
    min-height: 300px;
    max-height: 300px;
} 

.box-content {
    background-color: rgb(27, 73, 27);
    padding: 20px;
    color: rgb(10, 161, 13);
}

.furklak .box-content .details a {
    background-color: rgb(197, 131, 0);
    color: rgb(17, 130, 66); 
    padding: 5px 10px;
}

.furklak-2 .header-image {
    background-image: url(img/image2.jpg);
    max-height: 300px;
}