* {
    box-sizing: border-box;
}

body {
   background-image: url(img/hatter.jpg);
   background-size: cover;
}
h2 {
    margin: 0
}
.furklak {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;    
    max-width: 600px;
    width: 90%;
    margin: 40px auto;
}

.header-image {
    background-image: url(img/image2.jpg);
    max-height: 300px;
}

.box-content {
    padding: 20px;
}
 
/* .furklak.furklak-2 .header-image {
    background-image: url(img/image2.jpg);
    max-height: 300px;
} */